footer{
  background-color: black;
  text-align:center;
  font-size:12px;
  color: white;
  border-top: 1px solid orange;
  opacity:90%;
  position-fixed: bottom;
  }
.sfondo{
   margin: 0px;
  background-image: url(https://img.freepik.com/free-photo/tools-table_144627-8729.jpg?w=900&t=st=1686902718~exp=1686903318~hmac=5a5d848f7aedb9e31897f064788f9a9f92974cad201d96eb2a2fbb947d93c204);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}


    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica;
      font-size: 14px;
      color: black;
      margin: 0;
      padding: 0;
    }
